doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  ul
   li My Text
   -var condition = true
    if condition
     p its true
    block content
